<!--Title: _footer.ejs
Author: Kyle Hochdoerfer
Date: 6/13/23
Description: Footer for Pets-R-Us application
-->
    
    <!--Display a footer for use on each page of the site, and close the body and HTML tags-->
    <footer class="footer">
        <p>Bellevue University WEB 340</p>
        <a href="https://unsplash.com/">Photos courtesy of Unsplash</a>
    </footer>
  </body>
</html>